.container {
    width: 100%;
    background-color: #e68c38;
    padding: 70px 13%;
    color: #fff;
}

.container .box {
    width: min(800px, 100%);
    margin: auto;
}

.container .box .item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.container .box .item span {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
}

.container .box .item .right {
    padding: 15px;
    background-color: #2d2d2d;
    border-radius: 5px;
    width: min(600px, 100%);
    padding: 20px;
}

@media (max-width: 1000px) {
    .container .box .item {
        flex-direction: column;
        gap: 30px;
    }
}
@media (max-width: 700px) {
    .container {
        padding: 70px 5%;
    }
}
